table,
th,
td {
  border: 2px solid;
}

table {
  width: 100%;
  max-width: 500px;
  height: 500px;
  margin: 0 auto;
  border-spacing: 0;
}

tbody {
  white-space: nowrap;
}

th,
td {
  padding: 20px 20px 20px 20px;
  border-top-width: 0;
  border-left-width: 0;
}

th {
  position: sticky;
  top: 0;
  background: #fff;
  vertical-align: middle;
}
