<table>
  <thead>
    <tr>
      <th colspan="2">id = {{ getData._id }}</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>品名 </td>
      <td>商品編號 </td>
    </tr>
    
    <ng-container *ngFor="let data of getData?.keyword_mapping">
      <tr>
        <td>{{ data.keyword }}</td>
        <td>{{ data.RecommendationID }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>