<h1>{{ title }}</h1>
<div>
  <button (click)="getClick()">Raymond Get Click</button>
    <ng-container *ngIf="data$ | async as getData">
      <app-table [getData]="getData"></app-table>
    </ng-container>
</div> 