<h1>{{ title }}</h1> 
<div>
  <app-list></app-list>
  <!-- <nav>
    <a routerLink="table/getApi">GET</a>
    <a routerLink="list/postApi">POST</a> 
  </nav> -->
</div>
<router-outlet></router-outlet>