div {

    text-align: center;
    margin: auto;
    height: 100%;
}

a {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}
a {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    border-radius: 4px;
    top: 3px;
}
a:hover {
    background-color: #788d90 !important;
    color: white;
}
a {
    color: #607D8B;
    background-color: #DDD;
}

a {
    display: inline-block;
    color: white;
    background-color: #607D8B;
    position: relative;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    font-size: large;
}
