
div {
    margin: auto;
    height: 100%;
    text-align: center;
    line-height: 2em;
}

button {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}
button {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    top: 3px;
}
  button:hover {
    background-color: #788d90 !important;
    color: white;
}
  button {
    color: #607D8B;
    background-color: #DDD;
}

button {
    display: inline-block;
    color: white;
    background-color: #607D8B;
    position: relative;
    height: 3em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    font-size: large;
}

h1 {
    color: #444b4f;
}